@import './config';
@import './header';
@import './menu';
@import './list';
@import './details';
@import './buttons';
@import './modal';
@import '../../node_modules/codemirror/lib/codemirror.css';

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.main__container {
  display: flex;
}

label {
	color: #999;
	display: inline-block;
	font-size: 0.85em;
	font-weight: bold;
	margin: 1em 0;
	text-transform: uppercase;
}

.hint {
	margin: 15px 0;
	font-style: italic;
	color: #999;
}

.ReactCodeMirror {
	border: 1px solid #ccc;
  margin-bottom: 20px;
}

.button__red {
  background: $red-color;
  color: white;
}

.button__main {
  background: $main-color;
  color: white;
}
