.button__edit {
  border: none;
  outline: none;
  background: $main-color;;
  color: white;
  font-weight: 200;
  border-radius: 25px;
  width: 22px;
  height: 22px;
  padding: 0;
  transition: 2s all;
  &:hover {
    background: $main-color-hover;
  }
  i {
    font-size: 14px;
    vertical-align: middle;
  }
}
