$main-color: #685c7d;
$main-color-border: #564a6b;
$main-color-hover: #423755;
$border-grey: #e7e7e7;
$border-second-grey: #cccccc;
$second-color: #f3f3f3;
$third-color: #f7f7f7;
$hover-grey: #cccccc;
$red-color: #b84d4d;
$red-color-hover: #9c3f3f;
