.details__container {
  width: calc(100% - 500px);
  height: calc(100% - 50px);
  padding: 0 10px;
  display: inline-block;
  background: white;
  overflow: auto;
}

.details__name {
  display: inline-block;
  margin: 0 10px 0 0;
}

.details__header {
  margin: 0 0 10px 0;
}
