.details__container {
  width: calc(100% - 500px);
  height: calc(100% - 50px);
  padding: 0 10px;
  display: inline-block;
  background: white;
  overflow: auto;
}

.details__name {
  display: inline-block;
  margin: 0 10px 0 0;
  vertical-align: middle;
}

.details__header {
  background: #f3f3f3;
  padding: 5px;
  border-top: 1px solid $border-second-grey;
  border-right: 1px solid $border-second-grey;
  border-left: 1px solid $border-second-grey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
