.list__container {
  width: 250px;
  height: calc(100% - 50px);
  display: inline-block;
  background: $second-color;
  overflow: auto;
}

.list__gist {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid $border-grey;
  cursor: pointer;
  background: $second-color;
  &:hover {
    background: $hover-grey;
  }
  p {
    margin: 0;
  }
}
