.menu__container {
  height: calc(100% - 50px);
  width: 250px;
  display: inline-block;
  background: grey;
}

.menu__button {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  background: #685c7d;
  color: white;
  border-bottom: 1px solid #564a6b;
}
