.menu__container {
  height: calc(100% - 50px);
  width: 250px;
  display: inline-block;
  background: grey;
}

.menu__button {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  background: $main-color;
  color: white;
  border-bottom: 1px solid $main-color-border;
  transition: 2s all;
  &:hover {
   background: $main-color-hover;
  }
}
